# ==================================
# Operating System Files
# ==================================

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux (temporary files)
*~

# ==================================
# IDE Files (VSCode, PyCharm)
# ==================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ==================================
# ESP32 (.ino file)
# ==================================
# Compiled binary files
*.ino.cpp
*.o
*.a
*.d
*.bin
*.elf
*.hex
*.map
partitions.bin

# Build folders
build/
.build/

# ==================================
# Python (for /fpv_server folder)
# ==================================

# Byte-code cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (Very Important!)
venv/
.venv/
env/

# Environment variable files
.env

# Distribution folders
dist/
*.egg-info/
